In [8]:
import pandas as pd
import requests
import time
import numpy as np
from bs4 import BeautifulSoup

dataframe=pd.read_csv("../final data/college maping.csv")
dataframe.head()

,Unnamed: 0,Institute Code,Institute Name
0,0,1002,"Government College of Engineering, Amravati"
1,1,1005,"Sant Gadge Baba Amravati University,Amravati"
2,2,1012,"Government Engineering College, Yavatmal"
3,3,1101,Shri Sant Gajanan Maharaj College of Engineeri...
4,4,1105,Prof. Ram Meghe Institute of Technology & Rese...

In [10]:
length=dataframe.shape
dataframe["Institute dict"]=np.nan

In [11]:
for i in range(length[0]):
    url="http://www.dtemaharashtra.gov.in/frmInstituteSummary.aspx?InstituteCode={}".format(dataframe["Institute Code"].iloc[i])
    r=requests.get(url)
    html_conent=r.content
    soup=BeautifulSoup(html_conent,'html.parser')
    classs=soup.find(id="ctl00_ContentPlaceHolder1_lblDistrict")
    dataframe["Institute dict"].iloc[i]=classs.text
    time.sleep(3)

C:\Users\sai\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [14]:
dataframe.head(100)

,Unnamed: 0,Institute Code,Institute Name,Institute dict
0,0,1002,"Government College of Engineering, Amravati",Amravati
1,1,1005,"Sant Gadge Baba Amravati University,Amravati",Amravati
2,2,1012,"Government Engineering College, Yavatmal",Yavatmal
3,3,1101,Shri Sant Gajanan Maharaj College of Engineeri...,Buldhana
4,4,1105,Prof. Ram Meghe Institute of Technology & Rese...,Amravati
...,...,...,...,...
95,95,3214,Xavier Institute Of Engineering C/O Xavier Tec...,Mumbai City
96,96,3215,Bhartiya Vidya Bhavan's Sardar Patel Institute...,Mumbai Suburban
97,97,3216,Gharda Foundation's Gharda Institute of Techno...,Ratnagiri
98,98,3217,Vighnaharata Trust's Shivajirao S. Jondhale Co...,Thane
99,99,3218,Aldel Education Trust's St. John College of En...,Palghar

In [18]:
dataframe.drop(["Unnamed: 0","Institute Name"],axis=1,inplace=True)

In [20]:
dataframe.to_csv("../final data/college town.csv")